<div class="container-novoVencimento">
    <div class="vencimentos2">
        <h2>Edite o seu vencimento:</h2>
        <form action="#">
            <div class="form-control">
                <label for="codigo">Código do produto:</label>
                <input type="text" name="codigo" value="{{vencimento.codigo}}">
            </div>
            <div class="form-control">
                <label for="produto">Produto:</label>
                <input type="text" name="produto" value="{{vencimento.produto}}">
            </div>
            <div class="form-control">
                <label for="fornecedor">Fornecedor:</label>
                <input type="text" name="fornecedor" value="{{vencimento.fornecedor}}">
            </div>
            <div class="form-control">
                <label for="quantidade">Quantidade:</label>
                <input type="text" name="quantidade" value="{{vencimento.quantidade}}">
            </div>
            <div class="form-control">
                <label for="data">Data de vencimento:</label>
                <input type="text" name="data" value="{{vencimento.vencimento}}">
            </div>
            <div class="actions">
                <input type="reset" value="Limpar">
                <input type="submit" value="Salvar">
            </div>
        </form>
    </div>


</div>