<div class="container-meusVencimentos">
    <div class="meusVencimentos2">

        <h2>Vencimentos por fornecedor:</h2>
        {{#each meusVencimentos}}
        <div class="vencimento">
            <p><span>{{this.produto}} - {{this.fornecedor}} - {{this.vencimento}}</span> <a
                    href="/vencimentos/abrirVencimento/{{this.id}}">vizualizar</a></p>
        </div>
        {{/each}}
        {{!-- Gerar pdf --}}
        <div class="actions">
            <form action="/vencimentos/PdfPorFornecedor">
                <input type="hidden" name="fornecedor" value="{{fornecedor}}">
                <input type="submit" value="Gerar PDF desse relatório">
            </form>
        </div>
    </div>


</div>