<div class="container-meusVencimentos">
    <div class="meusVencimentos2">

        <h2>Vencimentos por produto:</h2>
        {{#each meusVencimentos}}
        <div class="vencimento">
            <div class="v1">
                <p>{{this.produto}}</p>
                <p>{{this.fornecedor}}</p>
                <p>{{this.vencimento}}</p>
            </div>
            <div class="v2">
                <a href="/vencimentos/abrirVencimento/{{this.id}}">vizualizar</a>
            </div>

        </div>
        {{/each}}
        {{!-- Gerar pdf --}}
        <div class="actions">
            <form action="/vencimentos/PdfPorProduto" method="GET">
                <input type="hidden" name="produto" value="{{produto}}">
                <input type="submit" value="Gerar PDF desse relatório">
            </form>
        </div>

    </div>


</div>