<div class="container-verVencimentno">
    <div class="verVencimento2">
        <div class="vencimento3">
            <h2><span>Código do produto:</span>{{vencimento.codigo}}</h2>
            <p><span>Produto:</span>{{vencimento.produto}}</p>
            <p><span>Fornecedor:</span>{{vencimento.fornecedor}}</p>
            <p><span>Quantidade:</span>{{vencimento.quantidade}}</p>
            <p><span>Data de vencimento:</span>{{vencimento.vencimento}}</p>
        </div>
        <div class="botoes">
            <form action="#">
                <input type="submit" value="Atualizar">
            </form>
            <form action="#">
                <input type="submit" value="Excluir">
            </form>
        </div>

    </div>
</div>