<div class="container-verVenciemtno">
    <div class="verVencimento2">
        <div class="vencimento">
            <h2>{{vencimento.codigo}}</h2>
            <p>Produto:{{vencimento.produto}}</p>
            <p>Fornecedor:{{vencimento.fornecedor}}</p>
            <p>Quantidade:{{vencimento.quantidade}}</p>
            <p>Data de vencimento:{{vencimento.data}}</p>
        </div>
        <div class="botoes">
            <form action="#">
                <input type="submit" value="Atualizar">
            </form>
            <form action="#">
                <input type="submit" value="Excluir">
            </form>
        </div>

    </div>
</div>